<html ng-app="blobcity">
<head>
<title>Website form</title>
 <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container" ng-controller="typeformController">
  <h2>Typeform form</h2>
  <div class="form-group">
<lable>Welcome! What's your first name?*</lable>
<input type="text" ng-model="resgiter.name">
</div>
<div class="form-group">
<lable>Your Email?*</lable>
<input type="text" ng-model="resgiter.email">
</div>
<div class="form-group">
<lable>Just in case, your phone number?</lable>
<input type="text" ng-model="resgiter.phone">
</div>
<div class="form-group">
<lable>Your company name?</lable>
<input type="text" ng-model="resgiter.company">
</div>
<div class="form-group">
<lable>I would like to periodically receive promotional email from BlobCity*</lable>
   <label><input type="checkbox" class="radio" value="1" name="fooby[1][]" />Yes</label> 
 
    <label><input type="checkbox" class="radio" value="1" name="fooby[1][]" />No</label>
  </div>
  <div class="form-group">
  <lable>How much storage space would you like?</lable>
<label>
    <input type="checkbox" class="radio" value="1" name="fooby[1][]" />100MB - Free</label>
  <label>
    <input type="checkbox" class="radio" value="1" name="fooby[1][]" />1GB - $10/month</label>
  </div>
    <button type="submit" class="btn btn-default" ng-click="submit()">Submit</button>
</body>
  <script src="/vendor/angular.js"></script>
  <script src="/controller/typeformController.js"></script>
</html